{% extends "main.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
<div class="container">
  {% if !forums.is_empty() %}
    <h2>Forums</h2>
    <table>
      <tbody>
        <thead>
          <tr>
            <th>Title</th>
          </tr>
        </thead>
        {% for forum in forums %}
          <tr class="list-entry">
            <td><a href="/forum/{{ forum.id }}/">{{ forum.title }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <a href="new-forum">Create new forum</a>
  {% if id.is_some() %}
    <h2>Threads</h2>
    <table>
      <tbody>
        <thead>
          <tr>
            <th>Title</th>
          </tr>
        </thead>
        {% for thread in threads %}
          <tr class="list-entry">
            <td><a href="/thread/{{ thread.id }}/">{{ thread.title }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="new-thread">Create new thread</a>
  {% endif %}
</div>
{% endblock content %}
