{% extends "main.html" %} {% block content %}
<div class="container">
  {% if !forums.is_empty() %}
    <h1>Forums</h1>
    <table>
      <tbody>
        <thead>
          <tr>
            <th>Title</th>
          </tr>
        </thead>
        {% for forum in forums %}
          <tr class="list-entry">
            <td><a href="/forum/{{ forum.id }}">{{ forum.title }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <a href="/forum/new{% if let Some(id) = id %}?parent={{ id }}{% endif %}">Create new forum</a>
  {% if !threads.is_empty() %}
    <h1>Threads</h1>
    <table>
      <tbody>
        <thead>
          <tr>
            <th>Title</th>
          </tr>
        </thead>
        {% for thread in threads %}
          <tr class="list-entry">
            <td><a href="/thread/{{ thread.id }}">{{ thread.title }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
{% endblock content %}
